body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FDF5E6;
}

@font-face {
    font-family: HelveticaNeue45; /* Гарнитура шрифта */
    src: url(/assets/fonts/HelveticaNeue45.ttf); /* Путь к файлу со шрифтом */
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/background9.svg);
    background-color: #fde24e;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main__logo {
    margin-top: 3em;
    margin-bottom: -6em;
    margin-right: 4.3em;
}

.main__logo-img {
    width: 10.5em;
    height: 10.5em;
}

.main__box {
    transform: scale(0.65) skewY(-10deg);
}

@media screen and (min-height: 668px) {
    .main__logo {
        margin-bottom: -4.5em;
    }

    .main__logo-img {
        width: 13em;
        height: 13em;
    }

    .main__box {
        transform: scale(0.75) skewY(-10deg);
    }
  

}

.menu-bar {
    width: 20em;
    height: 30em;
    background-color: #020304;
    padding: 1em 1.5em;
    text-align: center;
}

.contpre {
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg_anm {
    height: 12%;
    width: auto;
}

/* Время МСК */
#cont2 {
    color: #FDF5E6;
    position: relative;
    margin-top: 11px;
    float: right;
    background: #000000;
}

/* Донат */
.paybtn {
    padding-left:110px;
    font-size:20px;
    margin-bottom:100px;
}

/* Внешка окна доната */
.popup {
    width:100%;
    height:95%;
    display:none;
    position:fixed;
    top:150px;
    left:0px;
    background:rgba(0,0,0,0);
}
/* Нутро окна доната */
.popup-inner {
    width:423px;
    height:210px;

    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* iFrame Яндекса */
.popup-inner iframe {
    width:100%;
    height:100%;
}

/* Кнопка Закрыть */
.popup-close {
    width:25px;
    height:25px;
/*    padding-top:4px;*/
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;

    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgb(0 0 0);
    font-family:Helvetica, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#ffca00;
}

/* Наводка на кнопку */
.popup-close:hover {
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

#btn {
    padding-left: 9px;
    pointer-events: auto;
    cursor: pointer;
}

/* Играет Сейчас */
#now1 {
    font-family: 'HelveticaNeue45';
    color: #FDF5E6;
    /*padding-top: 8px;*/
}

.ttplayacont {
  transform: scale(0.6);
  text-align: left;
  margin-left: -80px;
  margin-top: 10px;
  -moz-appearance: none;


}

#volume-bar {
	background: #FDF5E6;
    /*opacity: 70%;*/

}


/* Мигание LIVE */
.flash {
    font-size: 16px;
    display: none;
    color: #ff0000;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: flashy;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes flashy {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #000000;
    z-index: 30;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: auto;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;

/*  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #ffffff;*/
  background: #FDF5E6;
/*  border-radius: 1px;
  border: 1.1px solid #ffffff;*/
}

input[type=range]::-moz-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
 -webkit-appearance: auto;
/*  box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #ffffff;*/
  background: #FDF5E6;
/*  border-radius: 1px;
  border: 1.1px solid #ffffff;*/
}

input[type=range]::-webkit-slider-thumb {
/*  border: 2.5px solid #ffffff;*/
  height: 12px;
  width: 5px;
  background: #FDF5E6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]::-moz-slider-thumb {
/*  border: 2.5px solid #ffffff;*/
  height: 120px;
  width: 5px;
  background: #FDF5E6;
  cursor: pointer;
  -webkit-appearance: auto;
  margin-top: -9px;
}

.menu-items {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1.5px;
    color: #4d4d4d;
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
}

.menu-items:hover {
    color: #FDF5E6;
}

.menu-item-content {
    position: relative;
    font-family: 'HelveticaNeue45';
    padding-top: 10px;
    padding-right: 1px;
    color: #FDF5E6;
    font-size: 18px;
    display: none;
}

.menu-item-content-about {
    font-family: 'HelveticaNeue45';
    text-align: justify;
    width: 99%;
    color: #FDF5E6;
    font-size: 15px;
}

.menu-item-content-contact {
    font-family: 'HelveticaNeue45';
    text-align: left;
    color: #FDF5E6;
    font-size: 15px;
}

/* Социалки */
.social-icons{
    float: left;
    padding-right: 15px;
}

/*Активная вкладка */
.active {
    color: #FDF5E6;
}

.more {
    padding-top: 7px
}

/* Три точки */
.our-music {
    width: auto;
    height: 10px;
    padding-top: 3px;
  }

/* Картинка в эбауте */
.about-pic {
    width: 320px;
    height: 240px;
}
